body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*NAVBAR*/

nav.navbar {
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  position: fixed;
}

.navbar-nav li form {
  margin-top: 5%;
}

/*BODY*/

div.wrapper {
  margin-top: 20%;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.input-icons i {
  position: absolute;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  padding-left: 35px;
}

.error-msg {
  color: red;
}

.apagado {
  display: none !important;
}

.edit-movie,
.login-card {
  display: flex;
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 12%;
  background-color: rgba(133, 133, 133, 0.5);

}

.edit-movie div.card.container,
.login-card div.card.container{
  margin: auto;
  padding: 2%;
}

h5.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 640px) {

  div.wrapper {
    margin-top: 12%;
  }

  h5.description {
    flex-direction: row;
  }
}

@media (min-width: 992px){
  div.wrapper {
    margin-top: 6%;
  }
}